.beneficios-section {
    background: #f8fbfd;;
    padding: 1rem 0;
}
.seccion-beneficios {
    background: #e9f2f8;
}

.beneficio-card {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 56, 101, 0.08);
    transition: all 0.3s ease;
}

.beneficio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 56, 101, 0.15);
}

.beneficio-card .icon-wrapper i {
    color: #00a1e0;
}
