/*.bg-tas {
    background: linear-gradient(135deg, #005B96 0%, #0077B6 100%);
    color: white !important;
}

.btn-tas-outline {
    border: 2px solid #005B96;
    color: #005B96;
    background: white;
    transition: all 0.3s ease;
}

.btn-tas-outline:hover {
    background: #005B96;
    color: white;
}

.map-container {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #e3e3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.card {
    border-radius: 15px !important;
}

.card-header.rounded-top {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}*/


html, body {
    margin: 0;
    padding: 0;
}

.page-subir-receta {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.bg-tas {
    background: linear-gradient(135deg, #005B96 0%, #0077B6 100%);
    color: white !important;
}

.btn-tas-outline {
    border: 2px solid #005B96;
    color: #005B96;
    background: white;
    transition: all 0.3s ease;
}

.btn-tas-outline:hover {
    background: #005B96;
    color: white;
}

.map-container {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #e3e3e3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.card {
    border-radius: 15px !important;
}

.card-header.rounded-top {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}



